@charset "UTF-8";
body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #757575;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.photo {
  display: block;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}

.section {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
  }
}

.centered {
  text-align: center;
}

/* модальное окно*/
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  border-color: transparent;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-color: transparent;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
    padding: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
    padding: 40px;
  }
}

.button-modal-close {
  position: absolute;
  right: 8px;
  top: 6px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.button-close-svg {
  position: absolute;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  top: 50%;
  width: 18px;
  height: 18px;
  fill: #212121;
  stroke-width: 1px;
  stroke: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close:hover > .button-close-svg {
  fill: #2196f3;
  stroke-width: 1px;
  stroke: #2196f3;
}

.contact-form {
  width: 370px;
  height: 342px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .contact-form {
    width: 528px;
    min-height: 581px;
  }
}

.contact-form-header {
  width: 100%;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 30px;
}

.form-field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-label {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-40px);
  left: 16px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-input:focus + .form-label {
  color: #2196f3;
}

.form-input:focus,
.form-textarea:focus {
  border: 1px solid #2196f3;
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
}

.form-field:not(:last-child) {
  margin-bottom: 28px;
}

.form-svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 16px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  fill: #212121;
  stroke-width: 1px;
  stroke: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .form-svg,
.form-input:not(:placeholder-shown) ~ .form-svg {
  fill: #2196f3;
  stroke-width: 1px;
  stroke: #2196f3;
}

.form-field-textarea {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form-textarea {
  position: relative;
  resize: none;
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.form-textarea-lable {
  position: absolute;
  top: 15px;
  left: 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-textarea:focus + .form-textarea-lable,
.form-textarea:not(:placeholder-shown) + .form-textarea-lable {
  transform: translateY(-35px);
  left: 16px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #2196f3;
}

.form-field-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form-checkbox {
  position: absolute;
  margin-bottom: 30px;
  margin-left: 11px;
  margin-right: 11px;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-checkbox:checked + .form-checkbox-icon {
  background-color: #2196f3;
  background-image: url("../images/hero/checked.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.form-checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 401px;
  margin-left: 20px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .form-checkbox-label {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .form-checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-checkbox-icon {
  position: absolute;
  width: 16px;
  height: 15px;
  left: -20px;
  background-color: #ffffff;
  border: 2px solid #212121;
  border-radius: 3px;
}

.form-checkbox-text {
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .form-checkbox-text {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .form-checkbox-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-checkbox-link {
  display: block;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-left: 3px;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .form-checkbox-link {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .form-checkbox-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.submit-button {
  display: flex;
  border-radius: 4px;
  padding: 10px 55px;
  margin: auto;
  min-width: 200px;
  border: 1px solid;
  border-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  padding-right: auto;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

/*Хедер*/
.header {
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .header {
    width: 480px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*logo*/
.logotype {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .logotype {
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
  }
}

.name {
  color: #2196f3;
}

/*button*/
@media screen and (max-width: 767px) {
  .menu-btn {
    background-color: transparent;
    border: none;
    z-index: 1;
  }
  .menu-btn.is-open .burger-menu-close {
    display: block;
  }
  .menu-btn.is-open .burger-menu-open {
    display: none;
  }
  .menu-btn.is-open .burger-menu-close:hover,
  .menu-btn.is-open .burger-menu-close:focus {
    fill: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .burger-menu-open:hover,
  .burger-menu-open:focus {
    fill: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .burger-menu-close {
    display: none;
  }
}

.menu-wrapper {
  font-family: Roboto;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .menu-wrapper {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    top: 100%;
    left: 0;
    margin: 0 auto;
    height: 453px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-wrapper.is-open {
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
    pointer-events: all;
    background-color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: all;
  }
}

@media screen and (max-width: 1199px) {
  .menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .menu-wrapper {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .navigation-list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list {
    margin-right: 305px;
  }
}

.navigation-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .navigation-list-item {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation-list-link {
  position: relative;
  display: flex;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .navigation-list-link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
}

.active-item {
  color: #2196f3;
}

.active-item::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  background: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .address-nav {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .address-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .address-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .address-list:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .address-list:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .address-list:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.address-link {
  display: flex;
  align-items: center;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .address-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.address-link:hover, .address-link:focus {
  color: #2196f3;
}

.address-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .address-icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .address-icon {
    margin-right: 10px;
  }
}

.address-link:hover .address-icon {
  fill: #2196f3;
}

.address-link:focus .address-icon {
  fill: #2196f3;
}

.flex-social-item {
  width: 44px;
  height: 44px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.flex-social-item:not(:last-child) {
  margin-right: 10px;
}

/*hero section*/
.hero {
  width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  background-size: contain;
  width: 480px;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero/Header-mobile@1x.jpg);
}

@media screen and (min-width: 480px) {
  .hero {
    width: 480px;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/Header-mobile@1x.jpg");
  }
  .hero-title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/Header-mobile@2x.jpg");
  }
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-padding {
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .hero-padding {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.mane-header {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.mane-button {
  border-radius: 4px;
  padding: 10px 32px;
  display: flex;
  margin: auto;
  min-width: 200px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/Header-tablet@1x.jpg");
  }
  .hero-title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/Header-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/Header-dektop@1x.jpg");
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/Header-dektop@2x.jpg");
  }
}

@media screen and (min-width: 1600px) {
  .hero {
    width: 1600px;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/Header-dektop@1x.jpg");
  }
}

@media screen and (min-width: 1600px) and (min-device-pixel-ratio: 2), screen and (min-width: 1600px) and (min-resolution: 192dpi), screen and (min-width: 1600px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/Header-dektop@2x.jpg");
  }
}

/* О нас*/
@media screen and (max-width: 1199px) {
  .section-about-us {
    padding-bottom: 60px;
  }
}

.about-us-list {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .about-us-list {
    flex-wrap: wrap;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .about-us-list-item {
    width: 354px;
    height: 251px;
  }
}

.about-us-list-item:nth-child(2n + 1) {
  margin-right: 30px;
}

.about-us-list-item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 30px;
}

.about-us-list-item:not(:last-child) {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .about-us-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us-list-item {
    width: 270px;
  }
}

.about-us-list-icon {
  max-width: 450px;
  height: 120px;
  padding-top: 25px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .about-us-list-icon {
    width: 450px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about-us-list-icon {
    text-align: center;
    width: 354px;
    padding-top: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us-list-icon {
    display: flex;
    width: 270px;
    background: #f5f4fa;
    border-radius: 4px;
  }
}

.about--us-list-svg {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .about-us-padding {
    text-align: center;
  }
}

.about-us-item {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*чем мы занимаемся*/
.what-we-do-list {
  display: flex;
}

.what-we-do-list-item {
  position: relative;
  width: 370px;
}

.what-we-do-list-item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do-item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-bottom: 0px;
}

.what-we-do-img {
  display: block;
}

.what-we-do-padding {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .what-we-do-padding {
    display: none;
  }
}

/*Наша команда*/
.our-team-padding {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-team-padding {
    padding-bottom: 94px;
  }
}

.coloured {
  background-color: #f5f4fa;
}

@media screen and (max-width: 767px) {
  .coloured {
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  .team-header {
    font-size: 28px;
    line-height: 1.18;
  }
}

.our-team-list-item {
  width: 450px;
  height: 622px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .our-team-list-item {
    width: 354px;
    height: 536px;
  }
}

@media screen and (min-width: 768px) {
  .our-team-list-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .our-team-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-list-item {
    width: 270px;
    height: 428px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .our-team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.photo-team {
  width: 450px;
  height: 460px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .photo-team {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .photo-team {
    width: 270px;
    height: 260px;
    justify-content: space-between;
  }
}

.flex-social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.flex-social-item {
  width: 44px;
  height: 44px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.flex-social-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-item-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item-link:hover, .social-list-item-link:focus {
  background-color: #2196f3;
}

.social-list-icon-svg {
  display: flex;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  stroke-width: 1px;
  stroke: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item-link:hover .social-list-icon-svg {
  fill: #ffffff;
  stroke-width: 1px;
  stroke: #ffffff;
}

.social-list-item-link:focus .social-list-icon-svg {
  fill: #ffffff;
  stroke-width: 1px;
  stroke: #ffffff;
}

.team-item {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  text-transform: none;
  line-height: 1.19;
  text-align: center;
}

.profession {
  margin-bottom: 16px;
  display: inline-block;
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

/*Постоянные клиенты*/
@media screen and (max-width: 767px) {
  .client-header {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

.flex-client-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: start;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .flex-client-list {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
  }
}

.flex-client-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .flex-client-item:nth-child(odd) {
    margin-right: 30px;
  }
  .flex-client-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .flex-client-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .flex-client-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .flex-client-item:not(:last-child) {
    margin-right: 30px;
  }
}

.flex-client-link {
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-client-link:hover, .flex-client-link:focus {
  border-color: #2196f3;
  outline: none;
}

@media screen and (min-width: 768px) {
  .flex-client-link {
    width: 226px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .flex-client-link {
    width: 170px;
    height: 90px;
  }
}

.client-logo-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo-svg:focus {
  fill: #2196f3;
}

.flex-client-link:hover .client-logo-svg {
  fill: #2196f3;
}

.flex-client-link:focus .client-logo-svg {
  fill: #2196f3;
}

.client-1 {
  width: 44px;
  height: 49px;
}

.client-2 {
  width: 40px;
  height: 52px;
}

.client-3 {
  width: 41px;
  height: 43px;
}

.client-4 {
  width: 80px;
  height: 42px;
}

.client-5 {
  width: 59px;
  height: 47px;
}

.client-6 {
  width: 88px;
  height: 45px;
}

.clients-padding {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients-padding {
    padding-bottom: 94px;
  }
}

/*footer*/
footer {
  height: 603px;
  text-align: center;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  footer {
    justify-content: center;
    height: 463px;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  footer {
    height: 252px;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer-section {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer-section {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .footer-address {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    width: 231px;
    padding-top: 60px;
    margin-right: 0;
    justify-content: space-between;
  }
}

.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .logo-footer {
    margin-left: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-footer {
    margin-left: 0;
    font-size: 26px;
    line-height: 1.19;
  }
}

.contact-us {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .contact-us {
    margin-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-us {
    width: 231px;
    height: 81px;
    margin-left: 0;
  }
}

.footer-place {
  margin-bottom: 8px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0 auto;
}

.footer-mail {
  margin-top: 8px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-phone {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer-join-block {
    margin-right: 93px;
    margin-left: 70px;
  }
}

.join {
  display: block;
  font-weight: 700;
  margin-top: 72px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .join {
    width: 206px;
  }
}

.footer-social-list {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-social-list {
    padding-bottom: 100 px;
    width: 206px;
  }
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-item-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-item-link:hover, .footer-social-list-item-link:focus {
  background-color: #2196f3;
}

.footer-social-list-icon-svg {
  display: flex;
  width: 20px;
  height: 20px;
  fill: #ffffff;
  stroke-width: 1px;
  stroke: #ffffff;
}

.button-svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.follow-us {
  display: block;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .follow-us {
    width: 450px;
    height: 156px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .follow-us {
    width: 570px;
  }
}

@media screen and (min-width: 768px) {
  .follow-us-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.follow-us-mailing {
  display: block;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}

.form-contact-us {
  display: block;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .form-contact-us {
    width: 570px;
    display: flex;
  }
}

.form-contact-us-input {
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: Roboto;
  font: 1em 1em sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .form-contact-us-input {
    width: 358px;
  }
}

.footer-button {
  justify-content: center;
  border-radius: 4px;
  padding: 10px 32px;
  margin: auto;
  margin-left: 12px;
  border: 1px solid;
  border-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .footer-button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1199px) {
  .footer-button {
    display: flex;
  }
}

.fly-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  align-items: baseline;
}

/*portfolio*/
.portfolio-padding {
  padding-bottom: 60px;
  z-index: 0;
}

@media screen and (max-width: 479px) {
  .portfolio-padding {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-padding {
    padding-bottom: 94px;
  }
}

.button-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .button-container {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .button-container {
    mjustify-content: start;
    argin-bottom: 50px;
    justify-content: center;
  }
}

.work-item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 479px) {
  .work-item:not(:last-child) {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .work-item:not(:last-child):not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .work-item:not(:last-child) {
    display: flex;
    justify-content: center;
  }
}

.portfolio-button {
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  margin: auto;
  min-width: 73px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover, .portfolio-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

@media screen and (max-width: 480px) {
  .flex-container {
    display: inline-block;
    margin-right: auto;
    text-align: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 480px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

@media screen and (min-width: 768px) {
  .flex-container {
    justify-content: start;
  }
}

.flex-item {
  width: 100%;
  box-shadow: none;
  background-color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-item:not(:last-child) {
  margin-bottom: 30px;
}

.flex-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .flex-item {
    width: 354px;
    height: 404px;
  }
  .flex-item:not(:last-child) {
    margin-bottom: 60px;
  }
  .flex-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .flex-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .flex-item:nth-child(3n) {
    margin-right: 0px;
  }
  .flex-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.flex-item .portfolio-link {
  display: block;
  outline: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-item .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.flex-item .example-photo {
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .flex-item .example-photo {
    width: 354px;
    height: 294px;
  }
}

.flex-item .overlay {
  position: relative;
  overflow: hidden;
}

.flex-item .portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  text-align: left;
  margin-left: 24px;
  margin-right: 24px;
  padding-top: 20px;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .flex-item .portfolio-title {
    width: 306px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.flex-item .portfolio-title-meaning {
  margin-top: 4px;
  margin-bottom: 0;
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: left;
}

.flex-item .portfolio-title-description {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 77px;
  padding-bottom: 77px;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200 px) {
  .flex-item .portfolio-title-description {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}

.flex-item .portfolio-link:hover .portfolio-title-description {
  transform: translateY(0);
}

.flex-item .portfolio-link:focus .portfolio-title-description {
  transform: translateY(0);
}

.flex-item .border {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
}
/*# sourceMappingURL=portfolio.css.map */