/*Постоянные клиенты*/

.flex-client-list {
  display: flex;
  justify-content: space-evenly;
}

.flex-client-link {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-color;
    outline: none;
  }
}
.client-logo-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    fill: $accent-color;
  }

  .flex-client-link:hover & {
    fill: $accent-color;
  }
  .flex-client-link:focus & {
    fill: $accent-color;
  }
}

.flex-client-item:not(:last-child) {
  margin-right: 30px;
}

.client-1 {
  @include icon-size(44px, 49px);
}
.client-2 {
  @include icon-size(40px, 52px);
}
.client-3 {
  @include icon-size(41px, 43px);
}
.client-4 {
  @include icon-size(80px, 42px);
}
.client-5 {
  @include icon-size(59px, 47px);
}
.client-6 {
  @include icon-size(88px, 45px);
}

.clients-padding {
  padding-bottom: 94px;
}
