.clients-section {
  margin-bottom: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.client-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 30px;
}

.flex-client-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.flex-client-item {
  margin: 15px;
  flex-basis: calc((100% - 60px) / 2);

  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 90px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 180px) / 6);
  }
}
.flex-client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}
.client-logo-svg {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .flex-client-link:hover &,
  .flex-client-link:focus & {
    fill: $accent-color;
  }
}
