/* модальное окно*/

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: $white-accent-color;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-color: transparent;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close {
  position: absolute;
  right: 8px;
  top: 6px;
  width: 30px;
  height: 30px;
  background: $white-accent-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.button-close-svg {
  position: absolute;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  top: 50%;

  width: 18px;
  height: 18px;
  fill: $title-text-color;
  stroke-width: 1px;
  stroke: $title-text-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close:hover > .button-close-svg {
  fill: $accent-color;
  stroke-width: 1px;
  stroke: $accent-color;
}

.contact-form {
  width: 528px;
  min-height: 581px;
  margin: 0 auto;
  outline: 1px solid black;
  padding: 40px;
}
.contact-form-header {
  width: 100%;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 30px;
}

.form-field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-label {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: $primary-font-weight;
  font-size: $modal-font-size;
  line-height: $middle-line-height;
  letter-spacing: $modal-letter-spacing;
  color: $primary-text-color;
}

.form-input {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  box-sizing: border-box;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-40px);
  left: 16px;
  font-family: $primary-font-family;
  font-weight: $primary-font-weight;
  font-size: $modal-secondary-font-size;
  line-height: $modal-line-height;
  letter-spacing: $modal-letter-spacing;
}

.form-input:focus + .form-label {
  color: $accent-color;
}

.form-input:focus,
.form-textarea:focus {
  border: 1px solid $accent-color;
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
}

.form-field:not(:last-child) {
  margin-bottom: 28px;
}

.form-svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 16px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);

  fill: $title-text-color;
  stroke-width: 1px;
  stroke: $title-text-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .form-svg,
.form-input:not(:placeholder-shown) ~ .form-svg {
  fill: $accent-color;
  stroke-width: 1px;
  stroke: $accent-color;
}
.form-field-textarea {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.form-textarea {
  position: relative;
  resize: none;
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.form-textarea-lable {
  position: absolute;
  top: 15px;
  left: 16px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: $primary-font-weight;
  font-size: $modal-font-size;
  line-height: $secondary-line-height;
  letter-spacing: $modal-letter-spacing;
  color: $primary-text-color;
}

.form-textarea:focus + .form-textarea-lable,
.form-textarea:not(:placeholder-shown) + .form-textarea-lable {
  transform: translateY(-35px);
  left: 16px;
  font-family: $primary-font-family;
  font-weight: $primary-font-weight;
  font-size: $modal-secondary-font-size;
  line-height: $modal-line-height;
  letter-spacing: $modal-letter-spacing;
  color: $accent-color;
}
.form-field-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.form-checkbox {
  position: absolute;
  margin-bottom: 30px;
  margin-left: 11px;
  margin-right: 11px;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-checkbox:checked + .form-checkbox-icon {
  background-color: $accent-color;
  background-image: url('../images/hero/checked.svg');
  background-size: contain;
  background-origin: border-box;
  border-color: $accent-color;
}
.form-checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 401px;
  margin-left: 20px;
  font-weight: $primary-font-weight;
  font-size: $modal-font-size;
  line-height: $footer-line-height;
  letter-spacing: $primary-letter-spacing;

  color: $primary-text-color;
}
.form-checkbox-icon {
  position: absolute;
  width: 16px;
  height: 15px;
  left: -20px;
  background-color: $white-accent-color;
  border: 2px solid $title-text-color;
  border-radius: 3px;
}

.form-checkbox-text {
  font-family: $primary-font-family;
  font-weight: $primary-font-weight;
  font-size: $modal-font-size;
  line-height: $footer-line-height;
  letter-spacing: $primary-letter-spacing;

  color: $primary-text-color;
}

.form-checkbox-link {
  display: block;
  font-weight: $primary-font-weight;
  font-size: $modal-font-size;
  line-height: $footer-line-height;

  letter-spacing: $primary-letter-spacing;
  margin-left: 3px;

  color: $accent-color;
}

.submit-button {
  display: flex;
  border-radius: 4px;
  padding: 10px 55px;
  margin: auto;
  min-width: 200px;
  border: 1px solid;
  border-color: $accent-color;

  font-weight: $secondary-font-weight;
  font-size: $form-font-size;
  line-height: $hero-line-height;

  letter-spacing: $hero-letter-spacing;
  align-items: center;
  padding-right: auto;
  color: $white-accent-color;
  background-color: $accent-color;
  cursor: pointer;
}
