$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-accent-color: #ffffff;
$logo-color: #000000;
$darkest-background-color: rgba(47, 48, 58, 0.8);
$footer-backgroung: #2f303a;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$middle-dark-backgroud-color: #f5f4fa;

$secondary-font-family: Raleway;
$secondary-font-weight: 700;
$secondary-font-size: 26px;
$primary-letter-spacing: 0.03em;
$primary-line-height: 1.19;
$primary-font-weight: 400;
$footer-line-height: 1.71;
$secondary-line-height: 1.14;
$primary-font-family: Roboto;
$primary-font: 1em sans-serif;
$form-font-size: 16px;
$form-line-height: 1.25;
$primary-font-type: sans-serif;
$middle-font-weight: 500;
$middle-line-height: 1.14;
$middle-letter-spacing: 0.02em;
$hero-line-height: 1.88;
$hero-letter-spacing: 0.06em;
$secondary-font-size: 18px;
$modal-font-size: 14px;
$modal-letter-spacing: 0.01em;
$modal-secondary-font-size: 12px;
$modal-line-height: 1.17;
